---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Link from "../../components/Link.astro";
import DateTime from "../../components/DateTime.astro";

export const getStaticPaths = (async () => {
	const posts = await getCollection("posts");
	return posts.map((post) => ({
		params: {
			slug: post.slug,
		},
		props: { post },
	}));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout>
	<p class="mb-12"><Link href="/posts">← cd ..</Link></p>
	<article class="prose prose-invert prose-brand-links">
		<h1>{post.data.title}</h1>
		<p class="lead">
			<DateTime
				date={post.data.pubDate}
				display={{ month: "long", year: "numeric", day: "numeric" }}
			/>
		</p>
		<Content />
	</article>
</Layout>
