---
import Link from "../../components/Link.astro";
import PostList from "../../components/PostList.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

const posts = (await getCollection("posts")).sort((a, b) => {
	return b.data.pubDate.getTime() - a.data.pubDate.getTime();
});

const postsByYear: Record<string, CollectionEntry<"posts">[]> = {};
for (const post of posts) {
	const year = post.data.pubDate.getFullYear();
	if (!postsByYear[year]) {
		postsByYear[year] = [];
	}
	postsByYear[year].push(post);
}
---

<Layout>
	<div class="py-8">
		<h1 class="mb-8 text-5xl font-extrabold">Posts</h1>
		<p class="mb-8 text-lg">
			Occasional musings, journals, and other thoughts.
		</p>
	</div>

	<div class="space-y-12">
		{
			Object.entries(postsByYear)
				.sort((a, b) => b[0].localeCompare(a[0]))
				.map(([year, posts]) => (
					<div>
						<div class="mb-4 flex flex-row items-center justify-between">
							<h2 class="text-2xl font-bold">{year}</h2>
							<Link href={`/posts/${year}`} class="text-sm">
								View →
							</Link>
						</div>
						<PostList posts={posts} />
					</div>
				))
		}
	</div>
</Layout>
