---
import CodeProject from "../components/CodeProject.astro";
import CodeTechnology from "../components/CodeTechnology.astro";
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
import TypeScript from "../components/icons/TypeScript.astro";
import React from "../components/icons/React.astro";
import Svelte from "../components/icons/Svelte.astro";
import Rust from "../components/icons/Rust.astro";
import Ruby from "../components/icons/Ruby.astro";
import Python from "../components/icons/Python.astro";
import GitHub from "../components/icons/GitHub.astro";
import GitHubStar from "../components/icons/GitHubStar.astro";

const projects: Parameters<typeof CodeProject>[0][] = [
	{
		href: "https://github.com/esfalsa/srsglass",
		title: "srsglass",
		description: "command-line timesheet generator",
		technologies: ["Rust"],
	},
	{
		href: "https://github.com/esfalsa/puree",
		title: "Purée",
		description: "find and list tagged regions",
		technologies: ["Python", "JavaScript", "Jekyll"],
	},
	{
		href: "https://github.com/esfalsa/pallets",
		title: "pallets",
		description: "data dump download manager",
		technologies: ["Rust"],
	},
	{
		href: "https://github.com/esfalsa/esfalsa.github.io",
		title: "esfalsa.github.io",
		description: "personal website",
		technologies: ["TypeScript", "Astro"],
	},
	{
		href: "https://github.com/esfalsa/crisscross",
		title: "CrissCross",
		description: "cross-endorsement tool",
		technologies: ["TypeScript", "React", "Vite"],
	},
	{
		href: "https://github.com/esfalsa/founding-rates",
		title: "founding-rates",
		description: "nation founding statistics",
		technologies: ["TypeScript", "React", "Next.js"],
	},
];
---

<Layout title="code">
	<article>
		<div class="py-8">
			<h1 class="mb-8 text-5xl font-extrabold">Projects</h1>
			<p class="mb-8 text-lg">
				Projects, tools, and experiments that I’ve worked on.
			</p>
		</div>

		<div class="-mx-4 grid grid-cols-1 gap-4 md:grid-cols-2">
			{projects.map((project) => <CodeProject {...project} />)}
		</div>

		<section>
			<h2 class="mb-8 mt-24 text-3xl font-bold">Tech stack</h2>
			<div class="-mx-4 grid grid-cols-3 gap-4 sm:grid-cols-6 md:flex-row">
				<CodeTechnology href="https://www.typescriptlang.org/">
					<span class="sr-only">TypeScript</span>
					<TypeScript class="h-full w-full" />
				</CodeTechnology>
				<CodeTechnology href="https://react.dev/">
					<span class="sr-only">React</span>
					<React class="h-full w-full" />
				</CodeTechnology>
				<CodeTechnology href="https://svelte.dev/">
					<span class="sr-only">Svelte</span>
					<Svelte class="h-full w-full" />
				</CodeTechnology>
				<CodeTechnology href="https://www.rust-lang.org/">
					<span class="sr-only">Rust</span>
					<Rust class="h-full w-full" />
				</CodeTechnology>
				<CodeTechnology href="https://www.ruby-lang.org/">
					<span class="sr-only">Ruby</span>
					<Ruby class="h-full w-full" />
				</CodeTechnology>
				<CodeTechnology href="https://www.python.org/">
					<span class="sr-only">Python</span>
					<Python class="h-full w-full" />
				</CodeTechnology>
			</div>
		</section>

		<section>
			<h2 class="mb-4 mt-24 text-3xl font-bold">Looking for more?</h2>
			<div class="flex flex-col sm:flex-row sm:space-x-8">
				<Link
					class="flex flex-row items-center"
					href="https://github.com/esfalsa"
				>
					<GitHub class="mr-1 h-4 w-4" /> GitHub profile
				</Link>
				<Link
					class="flex flex-row items-center"
					href="https://github.com/search?type=repositories&q=user%3Aesfalsa&s=stars&o=desc"
				>
					<GitHubStar class="mr-1 h-4 w-4" /> Projects sorted by stars
				</Link>
			</div>
		</section>
	</article>
</Layout>
