---
const { title } = Astro.props;
---

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="generator" content={Astro.generator} />
<title>{title ? `Pronoun | ${title}` : "Pronoun"}</title>
